@page
@model IndexModel
@{
    ViewData["Title"] = "VerKauf";
}
<h1>@ViewData["Title"]</h1>


<div class="about-section">
    <h4 style="text-align:center" >Hi Readers!!</h4style>


    <p style=" font-family :'Times New Roman', Times, serif" class="add">
        VerKauf is an American technology company that sells a vareity of products and services.
        Verkauf sells products from other manufacturers.The company is known for how it manages its supply. 
    </p>
    <p style=" font-family :'Times New Roman', Times, serif" class="add1">
        This includes VerKauf selling directly to customers and delivering that the customer wants.
        The company has expanded storage,now aiming to expand from offering computers only to delivering a range of technology for enterprise customers.</p>
    <p style=" font-family :'Times New Roman', Times, serif" class="add2">
        VerKauf advertisements have appeared in several types of media including television, the Internet, magazines, catalogs, and newspapers. 
        Some of VerKauf Inc's marketing strategies include lowering prices at all times of the year, free bonus products, and free shipping to encourage more sales and stave off competitors.
        </p>
    <style>
p.add {
    color: currentColor;
}

p.add1 {
    color: black;
}

p.add2{
    color: black;
}

p.add{
    font-weight:bold
}

 p.add1 {
     font-weight: bold
            }

p.add2 {
     font-weight: bold
            }
</style>
</div>
<body class=" page">

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://th.bing.com/th/id/R.8decbd183114e86b37aebcbc982be0a3?rik=a7JE3PTQS5M7zw&riu=http%3a%2f%2fpersonaldatingassistants.com%2fwp-content%2fuploads%2f2014%2f11%2fmember-400x400.jpg&ehk=rnqzn4sDjV%2bBcGad6Y881s13%2bcD55ODrl3xZUaIkKus%3d&risl=&pid=ImgRaw&r=0" alt="John" style="width:20%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <pstyle ="font-family:'Times New Roman', Times, serif">Honesty is the best policy'</p>
                <p>john@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://1.bp.blogspot.com/-PT1krLyIERs/VrsYivDrTSI/AAAAAAAAE9Y/uSQbJgRjqDc/s1600/02.png" alt="Mike" style="width:20%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Sales Manager</p>
                <p style="font-family:'Times New Roman', Times, serif">Let's grow through life'</p>
                <p>mike@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://thumbs.dreamstime.com/b/cartoon-smart-girl-business-uniform-folded-arms-illustration-42360981.jpg" alt="Merlin" style="width:20%">
            <div class="container">
                <h2>Merlin Doe</h2>
                <p class="title">Account Executive</p>
                <p style=" font-family: 'Times New Roman',Times,serif">Never too late'</p>
                <p>Merlin@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>







